<h1><%= @events.size%> Events:</h1>

<ul>
    <%@events.each do |event|%>
        <li>
        <%=event.name%>
        in <%=event.location%>
        costs <%=number_to_currency(event.price)%>
        </li>
    <%end%>
</ul>
